##  question 4

In [1]:
import string

In [39]:
def get_letter(n):
    abc = string.ascii_lowercase
    return abc[n-1]

In [42]:
def show_word(a,b,c):
    s = get_letter(a+3*b+c+12)
    s += get_letter(a+2*b+4)
    s += get_letter(b+c+8)
    s += get_letter(a+b)
    s += get_letter(b+4)
    s += get_letter(c+4)
    s += get_letter(a)
    s += get_letter(b)
    s += get_letter(4)
    s += get_letter(c)
    return s

In [43]:
a_range = range(1,11)
b_range = range(1,5)
c_range = range(1,11)

In [44]:
l = ['a,b,c,word']
for a in a_range:
    for b in b_range:
        for c in c_range:
            if (a+3*b+c+12-1) < 26:
                l.append('{}, {}, {}, {}'.format(get_letter(a),get_letter(b),get_letter(c),show_word(a,b,c)))

In [47]:
l[:5]

['a,b,c,word',
 'a, a, a, qgjbeeaada',
 'a, a, b, rgkbefaadb',
 'a, a, c, sglbegaadc',
 'a, a, d, tgmbehaadd']

In [54]:
def print_to_csv(write_file,l):
    with open(write_file, "w") as output:
        for line in l:
            output.write(line + '\n')

In [55]:
print_to_csv("aivd_4.csv",l)

## Question 17

In [1]:
import pandas as pd

In [37]:
left_bottom = pd.DataFrame(data = [["A","E","H","I","N","R","T","T","W","X","X","Z"],
["A","D","E","I","N","S","T","T","V","X","X","X"],
["D","E","J","M","N","O","R","T","T","X","X","X"],
["E","E","I","K","M","R","S","S","T","W","X","X"],
["D","D","E","O","O","P","R","R","T","X","X","X"],
["A","A","E","G","I","K","K","Q","R","R","S","Z"],
["C","F","H","L","M","M","Q","T","W","X","Y","Z"],
["A","A","C","F","H","Q","S","U","V","W","W","Y"],
["F","I","I","J","L","O","O","R","T","V","V","X"],
["A","C","F","G","H","I","J","L","O","Q","X","Y"],
["A","B","B","F","F","F","L","L","O","P","R","X"],
["E","E","I","I","O","Q","R","T","U","U","Z","Z"],
["G","I","K","N","P","T","U","V","V","V","X","Z"]])
right_top = pd.DataFrame(data = [["A","B","C","A","A","A","C","A","A","A","F","B"],
["F","D","F","H","E","E","D","D","E","A","K","C"],
["I","D","H","H","F","F","E","E","E","I","K","E"],
["I","E","I","J","F","M","I","G","H","N","O","E"],
["I","I","K","N","G","M","I","G","L","O","P","F"],
["J","J","M","O","L","N","L","O","Q","Q","Q","I"],
["K","M","R","S","O","O","L","R","T","R","R","I"],
["L","N","T","T","O","P","R","S","W","R","T","R"],
["R","O","X","U","P","Q","T","S","X","R","T","T"],
["S","Q","X","U","T","T","V","T","X","S","V","T"],
["X","R","X","V","V","X","X","U","Y","V","W","U"],
["X","T","X","X","W","X","X","Y","Z","X","W","V"],
["Z","V","Z","X","W","Z","X","Z","Z","X","Y","X"]])

In [38]:
left_bottom

   0  1  2  3  4  5  6  7  8  9  10 11
0   A  E  H  I  N  R  T  T  W  X  X  Z
1   A  D  E  I  N  S  T  T  V  X  X  X
2   D  E  J  M  N  O  R  T  T  X  X  X
3   E  E  I  K  M  R  S  S  T  W  X  X
4   D  D  E  O  O  P  R  R  T  X  X  X
5   A  A  E  G  I  K  K  Q  R  R  S  Z
6   C  F  H  L  M  M  Q  T  W  X  Y  Z
7   A  A  C  F  H  Q  S  U  V  W  W  Y
8   F  I  I  J  L  O  O  R  T  V  V  X
9   A  C  F  G  H  I  J  L  O  Q  X  Y
10  A  B  B  F  F  F  L  L  O  P  R  X
11  E  E  I  I  O  Q  R  T  U  U  Z  Z
12  G  I  K  N  P  T  U  V  V  V  X  Z

In [39]:
right_top

   0  1  2  3  4  5  6  7  8  9  10 11
0   A  B  C  A  A  A  C  A  A  A  F  B
1   F  D  F  H  E  E  D  D  E  A  K  C
2   I  D  H  H  F  F  E  E  E  I  K  E
3   I  E  I  J  F  M  I  G  H  N  O  E
4   I  I  K  N  G  M  I  G  L  O  P  F
5   J  J  M  O  L  N  L  O  Q  Q  Q  I
6   K  M  R  S  O  O  L  R  T  R  R  I
7   L  N  T  T  O  P  R  S  W  R  T  R
8   R  O  X  U  P  Q  T  S  X  R  T  T
9   S  Q  X  U  T  T  V  T  X  S  V  T
10  X  R  X  V  V  X  X  U  Y  V  W  U
11  X  T  X  X  W  X  X  Y  Z  X  W  V
12  Z  V  Z  X  W  Z  X  Z  Z  X  Y  X

In [40]:
combined = pd.DataFrame()

In [59]:
for r in left_bottom.index:
    for c in left_bottom.columns:
        combined.loc[r,c] = ''.join(list(set(left_bottom.loc[r]) & set(right_top.loc[:,c])))

In [60]:
combined

,0,1,2,3,4,5,6,7,8,9,10,11
0,RXIZA,ERTIN,RXTIZH,XTHNA,ETWA,EXTZNA,ERXTI,ERTZA,EWXTZHA,RXINA,TWR,ERXTI
1,IXAS,DETINV,TIX,XSTNVA,EVTA,EXTNA,DEXTIV,DESTA,ETXA,XSINVA,TV,EXTIV
2,XJR,DEORMTJN,TMXR,OXTNJ,EOT,EOMXTN,DERXT,DEORT,ETX,OXNR,TOR,ETXR
3,RXSIK,ERMTI,RMXTIK,TXS,ETW,ETMX,ERXTI,ETSR,ETXW,IXSR,TKWR,ERXTI
4,XR,DEORT,TXR,TOX,EOTP,EOXTP,DERXT,DEORT,ETX,OXR,TOPR,ETXR
5,RKSIZA,EIQR,IZKR,AS,EGA,EQAZ,EIR,ERSZGA,EQAZ,RSIQA,QKR,EIR
6,LZXF,TMQ,MXFTZHC,TXH,TFLW,MXFTQZ,TLXC,TYZ,LWYXTQHZ,QX,WYFTQ,TXFC
7,FAS,VQ,HFC,SHVUA,FVWA,QFA,VC,YUAS,WYQHA,VQAS,WYFQV,UVFC
8,LRXFIJ,ORTIJV,RXFTI,OXTJV,OLFTV,TOXF,LRXTIV,TOR,TLX,ORXIV,ORFTV,RXFTIV
9,LXFIJA,OQJI,XFIHC,OXHJA,OLFGA,OXFQA,ILXC,OYAG,LYXQHA,OXIQA,OQYF,IXFC
10,LRXFA,OR,XFR,OXA,OLFPA,OXFPA,LXR,OAR,LXA,OXAR,OPFR,XFR
11,IZR,EORTIQ,TIZR,TOU,EOT,EOTQZ,EITR,EORTZU,ETQZ,OIQR,TOQR,ERTIU
12,IZXK,TIVN,XTIZK,XTNVU,TVGP,XTZNP,TIVX,TUZG,TZX,IVXN,TVKP,XTIVU

In [61]:
df_count = pd.DataFrame()
for r in left_bottom.index:
    for c in left_bottom.columns:
        df_count.loc[r,c] = right_top[right_top == left_bottom.loc[r,c]].count().sum()

In [62]:
df_count

     0     1     2     3     4     5     6     7     8     9     10    11
0   8.0   9.0   4.0  10.0   4.0  10.0  12.0  12.0   5.0  18.0  18.0   6.0
1   8.0   4.0   9.0  10.0   4.0   5.0  12.0  12.0   7.0  18.0  18.0  18.0
2   4.0   9.0   3.0   4.0   4.0   8.0  10.0  12.0  12.0  18.0  18.0  18.0
3   9.0   9.0  10.0   4.0   4.0  10.0   5.0   5.0  12.0   5.0  18.0  18.0
4   4.0   4.0   9.0   8.0   8.0   3.0  10.0  10.0  12.0  18.0  18.0  18.0
5   8.0   8.0   9.0   3.0  10.0   4.0   4.0   5.0  10.0  10.0   5.0   6.0
6   3.0   7.0   4.0   5.0   4.0   4.0   5.0  12.0   5.0  18.0   3.0   6.0
7   8.0   8.0   3.0   7.0   4.0   5.0   5.0   4.0   7.0   5.0   5.0   3.0
8   7.0  10.0  10.0   3.0   5.0   8.0   8.0  10.0  12.0   7.0   7.0  18.0
9   8.0   3.0   7.0   3.0   4.0  10.0   3.0   5.0   8.0   5.0  18.0   3.0
10  8.0   2.0   2.0   7.0   7.0   7.0   5.0   5.0   8.0   3.0  10.0  18.0
11  9.0   9.0  10.0  10.0   8.0   5.0  10.0  12.0   4.0   4.0   6.0   6.0
12  3.0  10.0   4.0   4.0   3.0  12.0   4.0   7.0   7.0   7.0  18.0   6.0

In [58]:
done_values = ['B']
for r in left_bottom.index:
    for c in left_bottom.columns:
        if left_bottom.loc[r,c] in done_values:
            left_bottom.loc[r,c] = ''
        if right_top.loc[r,c] in done_values:
            right_top.loc[r,c] = ''