### Day 1: 1

In [1]:
freqs = [int(i) for i in open('aoc_1.csv')]

In [2]:
sum(freqs)

553

### part 2

In [46]:
from itertools import cycle

l = []
f = 0
maxcount = len(freqs)*500
count =0
for j in cycle(freqs):
    f += j
    if f in l:
        print(f)
        break
    l.append(f)
    count += 1
    if count >= maxcount:
        print('not found')
        break

78724

### Day 2: 3

In [84]:
box_ids = [i[:-1] for i in open('aoc_2.csv')]

In [94]:
double_letters = 0
triple_letters = 0
for box_id in box_ids:
    Two_true = False
    Three_true = False
    for l in set(box_id):
        if box_id.count(l) == 2:
            Two_true= True
        if box_id.count(l) == 3:
            Three_true = True
    if Two_true:
        double_letters += 1
    if Three_true:
        triple_letters += 1
print(double_letters*triple_letters)

7410

### part 4

In [93]:
for id_1 in box_ids:
    for id_2 in box_ids:
        if id_1 == id_2:
            continue
        diff_count = 0
        same_letters = ''
        for i in range(len(id_1)):
            if id_1[i] != id_2[i]:
                diff_count += 1
            else:
                same_letters += id_1[i]
        if diff_count == 1:
            print(same_letters)
            break
    if diff_count == 1:
        break

cnjxoritzhvbosyewrmqhgkul

### Day 3: part 5

In [109]:
fabric_ids = [i[:-1] for i in open('aoc_3.csv') if len(i) > 4]

In [190]:
fabric_ids[-1]

'#1301 @ 130,498: 26x10'

In [247]:
heights = [int(s.split('x')[1]) for s in fabric_ids]

widths = [int(s.split('x')[0].split(': ')[1]) for s in fabric_ids]

from_top = [int(s.split('x')[0].split(': ')[0].split(',')[1]) for s in fabric_ids]

from_left = [int(s.split('x')[0].split(': ')[0].split(',')[0].split('@ ')[1]) for s in fabric_ids]

ids = [int(s.split('x')[0].split(': ')[0].split(',')[0].split(' @ ')[0][1:]) for s in fabric_ids]

In [128]:
def overlap_corner(x,y,l,t,w,h):
    if (x >= l) and (x < l + w) and (y >= t) and (y < t + h):
        return True
    else:
        return False

In [240]:
square_count = 0
for x in range(1000):
    for y in range(1000):
        claim_count = 0
        for i in range(len(heights)):
            if overlap_corner(x,y, from_left[i],from_top[i],widths[i], heights[i]):
                claim_count += 1
        if claim_count > 1:
            square_count += 1
square_count

104712

### part 6

In [241]:
def overlap_squares(L,T,W,H,l,t,w,h):
    if (l<L+W) and (L<l+w) and (T<t+h) and (t<T+H):
        return True
    else:
        return False

In [250]:
for i in range(len(ids)):
    for o in range(len(ids)):
        if i ==o:
            continue
        elif overlap_squares(from_left[i],from_top[i],widths[i],heights[i],from_left[o],from_top[o],widths[o],heights[o]):
            break
    else:
        print(ids[i])

840

In [243]:
test = ['#1 @ 1,3: 4x4',
'#2 @ 3,1: 4x4',
'#3 @ 5,5: 2x2']

heights = [int(s.split('x')[1]) for s in test]

widths = [int(s.split('x')[0].split(': ')[1]) for s in test]

from_top = [int(s.split('x')[0].split(': ')[0].split(',')[1]) for s in test]

from_left = [int(s.split('x')[0].split(': ')[0].split(',')[0].split('@ ')[1]) for s in test]

ids = [int(s.split('x')[0].split(': ')[0].split(',')[0].split(' @ ')[0][1:]) for s in test]

### day 4: part 7

In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
dt = [i[1:17] for i in open('aoc_4.csv')]
dt = [datetime.strptime(d,'%Y-%m-%d %H:%M') for d in dt]

In [3]:
vals = [i[19:-1] for i in open('aoc_4.csv')]

In [4]:
df_guard_schedule = pd.DataFrame(index=dt, data=vals, columns=['text'])

In [5]:
df_guard_schedule.sort_index(inplace = True)

In [6]:
df_guard_schedule.head()

                                        text
1518-03-15 00:01:00  Guard #709 begins shift
1518-03-15 00:12:00             falls asleep
1518-03-15 00:53:00                 wakes up
1518-03-15 23:53:00  Guard #919 begins shift
1518-03-16 00:01:00             falls asleep

In [7]:
for i in df_guard_schedule.index:
    if i.hour == 0:
        df_guard_schedule.loc[i,'minute'] = i.minute
        df_guard_schedule.loc[i,'month'] = i.month
        df_guard_schedule.loc[i,'day'] = i.day
    else:
        df_guard_schedule.loc[i,'minute'] = 0
        df_guard_schedule.loc[i,'month'] = (i+timedelta(hours = 1)).month
        df_guard_schedule.loc[i,'day'] = (i+timedelta(hours = 1)).day
    if df_guard_schedule.loc[i,'text'].startswith('Guard'):
        df_guard_schedule.loc[i,'asleep'] = 0
        df_guard_schedule.loc[i,'guard'] = df_guard_schedule.loc[i,'text'].split(' ')[1][1:]
    elif df_guard_schedule.loc[i,'text'] == 'falls asleep':
        df_guard_schedule.loc[i,'asleep'] = 1
    else:
        df_guard_schedule.loc[i,'asleep'] = 0

In [8]:
df_times = pd.DataFrame()
d = df_guard_schedule.index.min().replace(hour =0, minute = 0)
while d <= df_guard_schedule.index.max().replace(hour =0, minute = 0):
    if d.hour == 0:
        df_times.loc[d, 'minute'] = d.minute
        df_times.loc[d, 'month'] = d.month
        df_times.loc[d, 'day'] = d.day
        d += timedelta(minutes = 1)
    else:
        d += timedelta(hours = 23)

In [18]:
df_full_guard_schedule = df_times.merge(df_guard_schedule,left_on = ['month','day', 'minute'],right_on = ['month','day', 'minute'], how = 'left')

In [22]:
df_full_guard_schedule.fillna(method='ffill', inplace = True)

In [24]:
df_full_guard_schedule.head()

   minute  month   day                     text  asleep guard
0     0.0    3.0  15.0                      NaN     NaN   NaN
1     1.0    3.0  15.0  Guard #709 begins shift     0.0   709
2     2.0    3.0  15.0  Guard #709 begins shift     0.0   709
3     3.0    3.0  15.0  Guard #709 begins shift     0.0   709
4     4.0    3.0  15.0  Guard #709 begins shift     0.0   709

In [32]:
most_sleepy_guard = df_full_guard_schedule.groupby(['guard']).asleep.sum().sort_values(ascending = False).index[0]
most_sleepy_guard

'2663'

In [33]:
schedule_sleepy_guard = df_full_guard_schedule[df_full_guard_schedule['guard'] == most_sleepy_guard]

In [38]:
sleepy_minute = schedule_sleepy_guard.groupby(['minute']).asleep.sum().sort_values(ascending = False).index[0]
sleepy_minute

38.0

In [39]:
int(most_sleepy_guard) * sleepy_minute

101194.0

### Part 8

In [43]:
guard, minute = df_full_guard_schedule.groupby(['guard','minute']).asleep.sum().sort_values(ascending = False).index[0]

In [44]:
int(guard) *minute

102095.0

### Day 5: part 9

In [72]:
polymer = next(open('aoc_5.csv'))

In [73]:
polymer[:10]

'ikeEKbBtoO'

In [74]:
len(polymer)

50000

In [69]:
def reduce_polymer(polymer):
    i = 0
    while i < len(polymer) -1:
        if (polymer[i] != polymer[i+1]) and (polymer[i].lower() == polymer[i+1].lower()):
            polymer = polymer.replace(polymer[i] + polymer[i+1], "")
            i = 0
        else:
            i += 1
    return polymer

In [70]:
basic_reduces = reduce_polymer(polymer)

In [71]:
len(basic_reduces)

10638

### part 10

In [77]:
unique_letters = ''.join(set(polymer.lower()))

In [78]:
df_letter_count = pd.DataFrame()
for l in unique_letters:
    alt_pol = polymer.replace(l,"")
    alt_pol = alt_pol.replace(l.upper(),"")
    df_letter_count.loc[l, "count"] = len(reduce_polymer(alt_pol))

In [81]:
df_letter_count.sort_values(by = 'count')

     count
v   4944.0
l  10158.0
j  10168.0
d  10186.0
a  10186.0
q  10190.0
o  10190.0
h  10196.0
k  10196.0
p  10200.0
f  10208.0
b  10210.0
g  10216.0
c  10216.0
w  10220.0
z  10222.0
u  10222.0
r  10224.0
n  10226.0
y  10230.0
m  10230.0
s  10232.0
t  10244.0
x  10246.0
e  10254.0
i  10262.0